.flex-container{
    display: flex;
    background-color: aquamarine;
}
 .flex-container div{
    background-color: black;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    color: white;
 }